html {
    margin: 0px;
    padding: 0px;
    position: relative;
}
body {
    margin: 0px;
    padding: 0px;
    background: #7c795d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.text{
color:#111;
font-family: ‘Helvetica Neue’, sans-serif;
font-size: 255px;
font-weight: bold; 
letter-spacing: -1px;
line-height: 1; 
text-align: left;
}

.symbol {
    background:#fff ;
    color: #111;
    padding: 16px;
    border-radius: 8px;
    animation: TransitionAround 25s infinite linear;
}

.symbol2 {
    background: #4c4a37;
    color: #111;
    padding: 16px;
    border-radius: 8px;
    animation: TransitionAround2 25s infinite linear;
}

@keyframes TransitionAround {
    0% {
        transform: 
            rotate(0deg)
            translate(0px, 0px)
            ;
    }
    15% {
        transform: 
            rotate(0deg) 
            translate(0px, -100px)
            ;
    }
    85% {
        transform: 
            rotate(360deg)
            translate(0px, -100px)    
            rotate(-360deg)
            ;
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes TransitionAround2 {
    0% {
        transform: 
            rotate(0deg)
            translate(0px, 0px)
            ;
    }
    15% {
        transform: 
            rotate(0deg) 
            translate(-100px, 0px)
            ;
    }
    85% {
        transform: 
            rotate(360deg)
            translate(-100px, 0px)    
            rotate(-360deg)
            ;
    }
    100% {
        transform: translate(0px, 0px);
    }
}

